<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In [ ]:
In this notebook,Data science tools and ecosystems are summarized.

**objectives**
- list popular langauges for data science
- Model asset exchanges
- work with multiple notebooks
- editing,saving and closing your notebooks

Some of the popular languages that Data Scientist use are:

## Execute as a Markdown cell
-R
-Python
-SQL

Some of the commonly used libraries used by Data Scientist include

In [ ]:
1. Java
2. Python
3. R
4. SQl
5. Julia

In [ ]:
Some of the commonly used libraries used by data scientist include:
    1. Numpy
    2. Seaborn
    3. Apache spark

## Execute as a Markdown cell

|Data Science Tools|
----------------
|My SQL|
|Kubernetes|
|Kylo|
|Github|
|MongoDb|

### H3: Below are a few examples of evaluating aritmetic expressions in python

In [4]:
This is a simplearithmetic expression to multiply then add integers.
(3*4)+5

17

In [ ]:
200 minutes

## Author
stephen salazar